<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999994249666-l6oqmcfo3k6rtd0adb3gj58u5lhc3d62.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999994249666-l6oqmcfo3k6rtd0adb3gj58u5lhc3d62</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>999994249666-gam98j1lu11bs0pvllctu91l21askqpd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD0t3Takulf708of2pTw9x2GpCzcNpQFJg</string>
	<key>GCM_SENDER_ID</key>
	<string>999994249666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.megabee.yallajeyee</string>
	<key>PROJECT_ID</key>
	<string>chat-sign-in-8affa</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-sign-in-8affa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999994249666:ios:0cf303fd96f2fed0d8865b</string>
</dict>
</plist>